* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x:hidden;
  position: relative;
  background-color: #121212!important;
  color: rgb(0, 0, 0) !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,a,li, button, u1 {
  margin: 0;
  padding:0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img  {
  width: 100%;
  height: auto;
}

button{
  border:0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/********Navigation bar********/

nav.navbar {
  padding: 18px 0;
  position: fixed; /* always visible at the top*/
  width: 100%;
  top: 0; 
  z-index: 9000; /*always want it to be visible*/
  transition: 0.32 ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212; /*as scrolling down, background changes*/
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 10;
}

span.navbar-text {
  display:flex;
  align-items:center;
}

.social-icon {
  display:inline-block;
  margin-left: 14px;
}

.social-icon a{
  width: 42px;
  height: 42px;
  background: rgba(253, 251, 251, 0.374);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height:1;
  border: 1px solid rgba(255,255,255,0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 80%;
  transform:scale(0);
  transition:0.4s ease-in-out;
}
.social-icon a:hover::before { /*icon becomes bigger when hovered */
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index:1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

/*for the let's connect form */
.navbar-text button { 
  font-weight: 700;
  color:#fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left:0;
  top:0;
  z-index:-1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

/*for the menu when minimized*/
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/*BANNER */
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/bluebackground.webp');
  background-position: top center;
  background-size: cover;
  background-repeat:no-repeat;
}

.banner h1{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin: bottom 20px;
  display:block;
  color: white;
}

/*sizing for the typing text*/
.banner h3{
  font-size: 30px;
  font-weight: 600;
  color:rgb(33, 29, 29)
}

.banner p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

/*let's connect button */
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
  text-decoration: none!important;
}

.noline {
  text-decoration: none!important;
}

/*the typing text */
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.wrap {
  color: rgb(255, 255, 255);
}

.banner img {

  border-radius: 80%;
  width: 50;
  height: 40;
  display: "block";
  background-position: "center";
} 

@media screen and (min-width: 1400px) {
  .banner img {
    /*width:600px;*/
    border-radius: 80%;
    width: 50;
    height: 40;
    display: "block";
    background-position: "center";
  }
}

@media screen and (min-width:800px) and (max-width: 1400px) {
  .banner img {
    border-radius: 50%;
    width: 50;
    height: 40;
    display: "block";
    background-position: "center";
  }
} 

/***download resume***/
.cta button {
  margin-top: 2.5rem;
  border-color: #697CCA;
  background: linear-gradient(90.21deg, rgba(87, 198, 213, 0.5) -5.91%, rgba(0, 106, 236, 0.5) 111.58%);
  border: 1px solid;
  text-align: center;
  font-size: 22px;
  width: 90%;
  height: 70%;
  padding: 10px 20px;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.cta a{
  text-decoration: none !important;
  color: white;
  font-family: 'Centra', sans-serif !important;
}

.cta:hover {
  border-color: white;
  background: transparent;
}
.cta a:hover{
  color:white;
}

/*Skills page*/
.skill {
  padding: 0 0 50px 0;
  position: relative;
}

.skill-box {
  background: #232222;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
  color:#fff
}

.skill h2 {
  font-size: 45px;
  font-weight: 700;
}

.skill p{
  color: #f1f1dc;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item img  {
  width: 50%;
  margin: 0 auto 15px auto;
}

/*******EXPERIENCE AND PROJECTS**********/

.card img{
  width: 100%;
  height: auto;
}

.card {
  padding: 1.2rem;
  gap: 1rem;
  background-color: #0E224B !important;
  color: white;
  margin: 2px 2px 2px;
}

.experience h1, .projects h1{
  font-size: 45px;
  font-weight: 700;
  color: white;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.card-title {
  font-size: 35px;
  font-weight: 700;
  color: white;
  padding-top: 1.2rem;
}

.experience-item:hover, .project-item:hover {
  border-color: var(--color-primary-variant);
  background: #697CCA;
}

.experience-item-cta, .project-item-cta {
  gap: 0.2rem;
  margin-bottom: 1rem;
  padding-top: 2px;
  display: flex;
}


/**tags on experience and projects**/
.tag-3D {
  color:rgb(222, 240, 243);
  font-family: Noto Sans, sans-serif;
  border-radius: 15px;
  border-color: rgb(0, 229, 255);
  border:1px solid;
  padding: 0.5em;
  margin: 0 -0.2em;
  text-align: center;
  font-size: 11px;
  margin-left: 2%;
}

.tag-cad, .tag-cad {
  color:rgb(255, 174, 0);
  font-family: Noto Sans, sans-serif;
  border-radius: 15px;
  border-color: rgb(0, 229, 255);
  border:1px solid;
  padding: 0.5em;
  margin: 0 -0.2em;
  text-align: center;
  font-size: 11px;
  margin-left: 2%;
}

.tag-develop, .tag-develop {
  color:rgb(255, 0, 0);
  font-family: Noto Sans, sans-serif;
  border-radius: 15px;
  border-color: rgb(0, 229, 255);
  border:1px solid;
  padding: 0.5em;
  margin: 0 -0.2em;
  text-align: center;
  font-size: 11px;
  margin-left: 2%;
}

.tag-arduino, .tag-pi {
  color:rgb(0, 255, 85);
  font-family: Noto Sans, sans-serif;
  border-radius: 15px;
  border-color: rgb(0, 229, 255);
  border:1px solid;
  padding: 0.5em;
  margin: 0 -0.2em;
  text-align: center;
  font-size: 11px;
  margin-left: 2%;
}

.tag-plan, .tag-plan {
  color:rgb(230, 0, 255);
  font-family: Noto Sans, sans-serif;
  border-radius: 15px;
  border-color: rgb(0, 229, 255);
  border:1px solid;
  padding: 0.5em;
  margin: 0 -0.2em;
  text-align: center;
  font-size: 11px;
  margin-left: 2%;
  
}

.tag-program, .tag-program {
  color:rgb(0, 170, 255);
  font-family: Noto Sans, sans-serif;
  border-radius: 15px;
  border-color: rgb(0, 229, 255);
  border:1px solid;
  padding: 0.5em;
  margin: 0 -0.3em;
  text-align: center;
  font-size: 11px;
  margin-left: 2%;
}


/*large devices*/
@media screen and (min-width: 1400px) {
  .tag-program, .tag-arduino, .tag-3D,.tag-cad,.tag-develop,.tag-pi,.tag-plan {
    font-size: 15px;
  }
}

/*small devices*/
@media screen and (min-width: 400px) and (max-width: 750px) {
  .tag-program, .tag-arduino, .tag-3D,.tag-cad,.tag-develop,.tag-pi,.tag-plan {
    font-size: 15px;
  }
}

/**********Modals**********/
.modal {
  z-index: 9999 !important;
}


/***********CONTACT************/
.contact {
  padding: 0 0 50px 0;
  position: relative;
}

.contactBox {
  width:85%;
  background: #1E1D35;
  border-radius: 64px;
  text-align: center;
  margin: auto;
  padding: 50px 50px;
  margin-top: 20px;
  color:#fff
}

.contact-container {
  width: 85%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap:20px;
  gap: 8%;
  margin-left: 50px;
}

.contact-options {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  border-radius: 30px;
  margin-top: 1.5rem;
}

.contact-option {
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  border:1px solid transparent;
  transition: var(--transition);
  background: #413f6f;
}

.contact-option:hover {
  background: #4E5379;
  border-color: var(--color-primary-variant);
}

.contact_option-icon {
  font-size: 40px;
  margin-bottom:2rem;
  margin: auto;
}

.contact-options a{
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 1rem;
  color: white;
  /*text-decoration: none;*/ /*remove underline under hyperlink*/
}

/**************FORM**************/
form {
  display: flex;
  flex-direction: column;
  gap: 1.2 rem;
  margin-top: 1.5rem;
}

input, textarea{
  position: relative;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 1.5px solid #4E5379;
  color: white;
  width: 100%;
}


.btn-primary {
  border: 1.5px solid #4E5379;
  border-radius: 2rem;
  background-color:#413f6f;
  color: #fff;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
}

.btn-primary:hover {
  background: #5e6fef;
  border-color: var(--color-primary-variant);
}

@media screen and (max-width:1024px) {
  .contact-container{
    grid-template-columns: 1fr;
    gap:2rem;
    margin: auto;
  }
}

@media screen and (max-width:600px) {
  .contact-container {
    width: var(--container-width-sm);
    margin: auto;
  }
}

/*****FOOTER*****/
footer {
  background: #697cca;
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9 rem;
  margin-top: 7rem;
}

footer a {
  color: black;
}

.footer_logo {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
  display: inline-block;
  text-decoration: none;
}

.permalinks, .nodeco {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 0.5rem 1.5rem;
  text-decoration: none !important;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.footer-socials a {
  background: white;
  color: white;
  padding: 0.8rem;
  border-radius: 1rem;
  display: auto;
  border: 1px solid transparent;
  width: 3rem;
}

.footer-socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer-note{
  margin-bottom: 4rem;
  color: var(--color-bg); 
}

.resume-button {
  margin-bottom: 2.5rem !important;
  border-color: rgb(87, 87, 171) !important;
  background: rgb(147, 164, 234);
  border-radius: 25px;
  border: 2px solid;
  width: 18%;
  padding: 0.5em;
  font-size: 22px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
  }

.resume-button a{
    text-decoration: none !important;
    color: black;
    font-family: 'Centra', sans-serif !important;
  }
  
.resume-button:hover {
    border-color: white !important;
    background: transparent;
  }

/* small devices */
@media screen and (max-width:600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer-socials {
    margin-bottom: 2.6rem;
  }
}